/* General reset */
html, body {
	height: 100%; 
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Arial', sans-serif; /* Clean, simple font */
	background-color: #f9f9f9; /* Soft background color */
	color: #333; /* Dark gray text for better readability */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	min-height: 100vh;
}

h2, h3, p {
	color: #2c3e50; /* Slightly darker shade for headings */
	padding: 0.5em 2em; /* Spacious padding for a clean look */
}

/* Enhancing the form and input elements */
textarea, input[type="file"] {
	width: calc(100% - 4em); /* Full-width but allowing for padding */
	margin: 1em 2em;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	box-sizing: border-box; /* Makes sure padding does not affect width */
}

button {
	background-color: #3498db; /* Pleasant blue */
	color: white;
	border: none;
	padding: 1em 1.5em;
	margin: 1em 2em;
	cursor: pointer;
	border-radius: 0.5em;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #2874a6; /* Darker blue on hover for feedback */
}

.delete-button {
	background-color: #e74c3c; /* Red color for delete actions */
}

.delete-all-button {
	background-color: #555; /* Darker button for delete all */
}

.message pre {
	background: #f0f0f0;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0.5em 2em;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 0.5em;
}

.message {
	margin-bottom: 1.5em;
	background: white;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Styling for images within messages */
.message img {
	max-width: 100%; /* Ensure images are not wider than their container */
	height: auto; /* Maintain aspect ratio */
	display: block; /* Remove extra space below the image */
	margin: 1em auto; /* Centering image and providing some margin */
	border-radius: 0.25em; /* Slightly rounded corners for a softer look */
	box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.15); /* Adding a light shadow for depth */
}

.message a {
	margin: 1em 2em;
	display: table;
	padding: 0.5em 1em;
	background-color: #007BFF;
	color: white;
	text-decoration: none;
	border-radius: 1em;
	font-weight: bold;
}

.message a:hover {
	background-color: #0056b3;
	cursor: pointer;
}

.file-upload {
	display: flex;
	align-items: center;
	width: calc(100% - 4em);
	margin: 1em 2em;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	background-color: white;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

.file-upload input[type="file"] {
	width: 100%;
	opacity: 0;
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.file-upload span {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 1em;
}

.file-upload:hover {
	background-color: #f0f0f0;
}
