<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy Paste Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Copy Paste Board</h2>
    <button type="button" onclick="deleteAllMessages()" class="delete-all-button">Delete All Messages</button>
    <p>
        You can:<br/>
        - Paste text or images here directly.<br/>
        - Drag and drop images here.<br/>
        - Type a message in the text area below and click "Send Message".<br/>
        - Select an image file and click "Send Message".<br/>
        - Copy a message by clicking the "Copy to Clipboard" button.<br/>
        - Delete a message by clicking the "Delete" button.<br/>
        - Delete all messages by clicking the "Delete All Messages" button.<br/>
        - Copy the latest message by pressing #Copy Combination Key#.<br/>
        - Messages are automatically updated every 5 seconds.

    </p>
<form id="messageForm" enctype="multipart/form-data">
    <textarea id="message" name="message" placeholder="Type your message here..." rows="4" cols="50"></textarea>
    <br>
    <div class="file-upload">
        <label for="image">Images</label>
        <input type="file" id="image" name="image" accept="image/*" multiple>
        <span id="image-name"></span>
    </div>
    <div class="file-upload">
        <label for="video">Videos</label>
        <input type="file" id="video" name="video" accept="video/*" multiple>
        <span id="video-name"></span>
    </div>
    <div class="file-upload">
        <label for="file">Other Files</label>
        <input type="file" id="file" name="file" accept="*/*" multiple>
        <span id="file-name"></span>
    </div>
    <br>
    <div id="progress" class="progress">
        <div id="progressContainer">
            <div id="progressBar"></div>
        </div>
        <div id="uploadProgress"></div>
    </div>
    <div class="form-buttons">
        <button type="submit">Send Message</button>
        <button type="button" id="clearButton">Clear</button>
    </div>
</form>
    

    <h3>Messages</h3>
    <div id="messages"></div>
    <script src="
    https://cdn.jsdelivr.net/npm/dompurify@3.1.0/dist/purify.min.js
    "></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
